body {
    background-color: #21192A;
    width: 100%;
    color: white;
}

.navigation {
    width: 1200px;
    height: 80px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 20px;
    left: 17%;
}

    .navigation img {
        position: absolute;
        left: 50px;
        height: 50px;
        width: 80px;
    }

.roboit {
    position: absolute;
    top: 30px;
    left: 50px;
    font-weight: bold;
    color: black;
}

.logo {
    transform: translate(0, 5px);
}

ul {
    width: 1150px;
    list-style-type: none;
    display: flex;
    justify-content: right;
    align-items: center;
}

li {
    display: inline;
    padding: 0 20px;
    font-size: 20px;
    transform: translate(0, 15px);
    color: gray;
}

dl {
    font-size: 22px;
    padding: 50px 0 0 0;
    width: 700px;
}

dd {
    background-image: linear-gradient(to right, #351BC0, #cd00cd);
    height: 17px;
    margin-bottom: 20px;
    border-radius: 50px;
    text-align: right;
    background-color: white;
}

.coding {
    width: 71%;
    background-color: #cd00cd;
    z-index: -1;
}

.accuracy {
    width: 95%;
}

.planning {
    width: 87%;
}

.bar {
    display: block;
    position: absolute;
    right: 9px;
    width: 700px;
    height: 17px;
    background-color: white;
    border-radius: 50px;
    z-index: -1;
}

.coding-bar {
    bottom: 258px;
}

.accuracy-bar {
    bottom: 195px;
}

.planning-bar {
    bottom: 132px;
}

.value {
    position: relative;
    right: -25px;
    top: -25px;
}

.container {
    display: flex;
}


.who-we-are {
    flex-direction: row;
    width: 750px;
    position: relative;
    top: 150px;
    right: -90px;
}

.find-out-more-with {
    display: block;
    width: 1125px;
    height: 1400px;
    position: relative;
    left: 290px;
    top: 140px;
    border: 1px solid white;
}

h2 {
    text-decoration: underline #cd00cd;
    text-decoration-thickness: 5px;
    text-underline-offset: 15px;
    text-align: center;
}

h3 {
    font-size: 40px;
    text-align: center;
}

.left-head {
    float: left;
}

.right-head {
    float: right;
    position: relative;
    top: 150px;
    transform: translate(-218px, 0);
}

p {
    font-size: 22px;
    text-align: center;
}

.image-header {
    flex-direction: row;
    width: 934px;
    height: 625px;
    position: relative;
    top: 80px;
    transform: translate(-8px, 0);
}

.find-out-more-with-image {
    width: 550px;
    height: 300px;
}

.virtual-reality-image {
    position: relative;
    right: 0;
    float: left;
}

.augmented-reality-image {
    position: absolute;
    left: 575px;
    top: 479px;
    clear: both;
}

summary {
    font-size: 30px;
}

.left-position-details {
    clear: both;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-position-details {
    clear: both;
    position: relative;
    top: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Попробовать в верхнем свойстве настроить положение через абсолютную позицию*/

.explore {
    float: right;
    position: absolute;
    transform: translate(580px, 0);
}

.hint {
    position: absolute;
    width: 500px;
    height: 145px;
    font-size: 19px;
}


.bottom-left-block {
    position: absolute;
}

.second-hint {
    position: absolute;
    transform: translate(580px, 30px);
    clear: both;
}

.smart-glasses-image {
    transform: translate(0, 60px);
}
    




